<configuration>
  <appSettings>
    <add key="xTraceLevel" value="Error"/>
    <add key="MaxReceivedMessageSize" value="28048576"/>
    <add key="MaxItemsInObjectGraph" value="1048576"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
